@using MvcOnlineTicariOtomasyon.Models.Entities
@model List<Message>

@{
    ViewBag.Title = "MesssageDetail";
    Layout = "~/Views/Shared/_ConcubineLayout.cshtml";
}

<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>AdminLTE 3 | Read Mail</title>

    <!-- Tell the browser to be responsive to screen width -->

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->

    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">

    <!-- Ionicons -->

    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <!-- Theme style -->

    <link rel="stylesheet" href="~/AdminLTE-3.0.4/dist/css/adminlte.min.css">

    <!-- Google Font: Source Sans Pro -->

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

</head>

<body>

    <!-- Content Wrapper. Contains page content -->
    <!-- Content Header (Page header) -->

    <section class="content-header">

        <div class="container-fluid">

            <div class="row mb-2">

                <div class="col-sm-6">

                    <h1>Mesaj Detayı</h1>

                </div>

            </div>

        </div><!-- /.container-fluid -->

    </section>

    <!-- Main content -->

    <section class="content">

        <div class="container-fluid">

            <div class="row">

                <div class="col-md-3">

                    <a href="/ConcubinePanel/NewMessage" class="btn btn-primary btn-block mb-3"> Yeni Mesaj Oluştur </a>

                    <div class="card">

                        <div class="card-header">
                            <h3 class="card-title"> Mailler </h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>

                        <div class="card-body p-0">

                            <ul class="nav nav-pills flex-column">

                                <li class="nav-item active">

                                    <a href="/ConcubinePanel/IncomingMessage" class="nav-link">

                                        <i class="fas fa-inbox"></i> Gelen Kutusu

                                        <span class="badge bg-primary float-right"> @ViewBag.VGelenMailCount </span>

                                    </a>

                                </li>

                                <li class="nav-item">

                                    <a href="/ConcubinePanel/OutgoingMessage" class="nav-link">

                                        <i class="far fa-envelope"></i> Gönderen Mesajlar
                                        <span class="badge bg-primary float-right"> @ViewBag.VGidenMailCount </span>

                                    </a>

                                </li>

                                <li class="nav-item">

                                    <a href="#" class="nav-link">

                                        <i class="far fa-file-alt"></i> Taslaklar

                                    </a>

                                </li>

                                <li class="nav-item">

                                    <a href="#" class="nav-link">

                                        <i class="fas fa-filter"></i> Gereksizler

                                        <span class="badge bg-warning float-right">65</span>

                                    </a>

                                </li>

                                <li class="nav-item">

                                    <a href="#" class="nav-link">

                                        <i class="far fa-trash-alt"></i> Çöp Kutusu

                                    </a>

                                </li>

                            </ul>

                        </div>

                        <!-- /.card-body -->

                    </div>

                    <!-- /.card -->

                    <div class="card">

                        <div class="card-header">

                            <h3 class="card-title"> Filtreler </h3>

                            <div class="card-tools">

                                <button type="button" class="btn btn-tool" data-card-widget="collapse">

                                    <i class="fas fa-minus"></i>

                                </button>

                            </div>

                        </div>

                        <!-- /.card-header -->

                        <div class="card-body p-0">

                            <ul class="nav nav-pills flex-column">

                                <li class="nav-item">

                                    <a href="#" class="nav-link">

                                        <i class="far fa-circle text-danger"></i>

                                        Önemliler

                                    </a>

                                </li>

                                <li class="nav-item">

                                    <a href="#" class="nav-link">

                                        <i class="far fa-circle text-warning"></i> Reklamlar

                                    </a>

                                </li>

                                <li class="nav-item">

                                    <a href="#" class="nav-link">

                                        <i class="far fa-circle text-primary"></i>

                                        Sosyal Medya

                                    </a>

                                </li>

                            </ul>

                        </div>


                        <!-- /.card-body -->

                    </div>

                    <!-- /.card -->

                </div>

                <!-- /.col -->
                @foreach (var item in Model)
                {
                    <div class="col-md-9">

                        <div class="card card-primary card-outline">

                            <div class="card-header">

                                <h3 class="card-title">Mesajı Oku</h3>

                                <div class="card-tools">

                                    <a href="#" class="btn btn-tool" data-toggle="tooltip" title="Previous"><i class="fas fa-chevron-left"></i></a>

                                    <a href="#" class="btn btn-tool" data-toggle="tooltip" title="Next"><i class="fas fa-chevron-right"></i></a>

                                </div>

                            </div>

                            <!-- /.card-header -->

                            <div class="card-body p-0">

                                <div class="mailbox-read-info">

                                    <h5> Konu : @item.Title  </h5>

                                    <h6>

                                        Gönderen : @item.GöndereciMail

                                        <span class="mailbox-read-time float-right">  Tarih : @item.Date  </span>

                                    </h6>

                                </div>

                                <!-- /.mailbox-read-info -->

                                <div class="mailbox-controls with-border text-center">

                                    <div class="btn-group">

                                        <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-container="body" title="Delete">

                                            <i class="far fa-trash-alt"></i>

                                        </button>



                                    </div>

                                    <!-- /.btn-group -->

                                    <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" title="Print">

                                        <i class="fas fa-print"></i>

                                    </button>

                                </div>

                                <!-- /.mailbox-controls -->

                                <div class="mailbox-read-message">

                                    

                                    <p>

                                        @item.Mesaj

                                    </p>

                                  

                                  

                                </div>

                                <!-- /.mailbox-read-message -->

                            </div>

                            <!-- /.card-body -->

                            <div class="card-footer bg-white">

                                <ul class="mailbox-attachments d-flex align-items-stretch clearfix">

                                    <li>

                                        <span class="mailbox-attachment-icon"><i class="far fa-file-pdf"></i></span>

                                        <div class="mailbox-attachment-info">

                                            <a href="#" class="mailbox-attachment-name"><i class="fas fa-paperclip"></i> Sep2014-report.pdf</a>

                                            <span class="mailbox-attachment-size clearfix mt-1">

                                                <span>1,245 KB</span>

                                                <a href="#" class="btn btn-default btn-sm float-right"><i class="fas fa-cloud-download-alt"></i></a>

                                            </span>

                                        </div>

                                    </li>

                                    <li>

                                        <span class="mailbox-attachment-icon"><i class="far fa-file-word"></i></span>

                                        <div class="mailbox-attachment-info">

                                            <a href="#" class="mailbox-attachment-name"><i class="fas fa-paperclip"></i> App Description.docx</a>

                                            <span class="mailbox-attachment-size clearfix mt-1">

                                                <span>1,245 KB</span>

                                                <a href="#" class="btn btn-default btn-sm float-right"><i class="fas fa-cloud-download-alt"></i></a>

                                            </span>

                                        </div>

                                    </li>





                                </ul>

                            </div>

                            <!-- /.card-footer -->

                            <div class="card-footer">

                                <div class="float-right">



                                    <button type="button" class="btn btn-default"><i class="fas fa-share"></i> Cevapla </button>

                                </div>

                                <button type="button" class="btn btn-default"><i class="far fa-trash-alt"></i> Sil</button>

                                <button type="button" class="btn btn-default"><i class="fas fa-print"></i> Yazdır</button>

                            </div>

                            <!-- /.card-footer -->

                        </div>

                        <!-- /.card -->

                    </div>
                }


                <!-- /.col -->

            </div>

            <!-- /.row -->

        </div>

    </section>

    <!-- /.content -->
    <!-- /.content-wrapper -->

    

    <!-- Control Sidebar -->

    <aside class="control-sidebar control-sidebar-dark">

        <!-- Control sidebar content goes here -->

    </aside>

    <!-- /.control-sidebar -->
    </div>

    <!-- ./wrapper -->
    <!-- jQuery -->

    <script src="~/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap 4 -->

    <script src="~/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- AdminLTE App -->

    <script src="~/AdminLTE-3.0.4/dist/js/adminlte.min.js"></script>

    <!-- AdminLTE for demo purposes -->

    <script src="~/AdminLTE-3.0.4/dist/js/demo.js"></script>

</body>

</html>