@model MvcOnlineTicariOtomasyon.Models.Entities.Employee


@{
    ViewBag.Title = "EmployeeAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Yeni Personel     </li>
</ol>

@using (Html.BeginForm("EmployeeAdd", "Employee", FormMethod.Post , new { enctype = "multipart/form-data" }))
{
   
<form class="form-group" method="post">
    @Html.HiddenFor(x => x.EmployeeID, new { @class = "form-control" })
    <br />
    @Html.Label("Pasif Yap ")
    @Html.CheckBoxFor(x => x.IsDelete, new { @class = "form-control" })
    <br />
    @Html.Label("Ad")
    @Html.TextBoxFor(x => x.EmployeeFirstName, new { @class = "form-control" })
    <br />
    @Html.Label("Soyad")
    @Html.TextBoxFor(x => x.EmployeeLastName, new { @class = "form-control" })
    <br />
    @Html.Label("Profil Resmi")
    
    <input type="file" name="EmployeeImg" />
    <br />
    @Html.Label("Departman ")
    @Html.DropDownListFor(x => x.DepartmentId, (List<SelectListItem>)ViewBag.Values, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-success">Kaydet</button>


</form>


}



