@using MvcOnlineTicariOtomasyon.Models.Entities
@model List<Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Ürün Listesi  </li>
</ol>

<table id="ProductsTBL" class="table table-hover m-2">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ürün Adı</th>
            <th scope="col">Marka</th>
            <th scope="col">Stok</th>
            <th scope="col">Alıs Fiyat</th>
            <th scope="col">Satış Fiyat</th>
            <th scope="col">Kategori</th>
          
            <th scope="col"> Güncelle </th>
            <th scope="col"> Detay </th>
            <th scope="col"> Satış </th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    <img class=" " width="280" height="200" src="@item.ImgUrl" />
                </th>
                
                <td>@item.ProductName</td>
                <td>@item.Brand</td>
                <td>@item.Stok</td>
                <td>@item.BuyingPrice ₺ </td>
                <td>@item.SalePrice ₺ </td> 
                <td>@item.Category.CategoryName</td>

                <td> <a href="/Product/ProductUpdate/@item.ProductID" class="btn btn-warning"> Güncelle </a> </td>
                <td> <a href="/ProductDetay/Index/@item.ProductID" class="btn btn-secondary"> Detay </a> </td>
                <td> <a href="/Product/MakeSale/@item.ProductID" class="btn btn-outline-primary"> Satış Yap </a> </td>


            </tr>


            


        }



</table>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>




<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>
    $('#ProductsTBL').dataTable({});
</script>

